<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- <typeAliases>
        <typeAlias type="com.biswajit.spring.boot.mybatis.model.Employee" alias="employee"/>
    </typeAliases> -->
    <mappers>
        <mapper resource="com/biswajit/spring/boot/mybatis/mapper/EmployeeMapper.xml"/>
    </mappers>
</configuration>